
{# DataGrid.twig #}




<table class="table table-striped">

    <tr>
     {% for column in dg.columns  %}
            <th>
            {% spaceless %}
            {% if column.orderby %}
                 <a href="{{ dg.orderby_link(column.orderby_field,'asc')|raw }}">
                     <i class="fa fa-angle-up"></i>
                 </a>
                 <a href="{{ dg.orderby_link(column.orderby_field,'desc')|raw }}">
                     <i class="fa fa-angle-down"></i>
                 </a>

                {{ column.label }}
            {% else %}
                {{ column.label }}
            {% endif %}
            {% endspaceless %}
            </th>
     {% endfor %}
    </tr>

    {% for row in dg.rows  %}
        <tr>
            {% for cell in row  %}
            <td>{{ cell.value|raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>


<div class="pagination">
{{ dg.links()|raw }}
</div>
