<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} rapyd demo {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 15px;
      }

      .container-narrow > hr {
        margin: 30px 0;
      }


      .jumbotron {
        margin: 40px 0;
        text-align: left;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      pre {
        line-height:15px;
      }
    </style>
</head>
<body>

  <div class="container-narrow">

      <div class="masthead clearfix">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/demos">Demos</a></li>
          <li><a href="http://rapyd.com">rapyd.com <i class="icon-share-alt"></i></a></li>
        </ul>
        <h3 class="muted">{{ block('title') }}</h3>
      </div>


        <ul class="nav nav-tabs">
         <li{{ active_class('^/demo$') }}><a href="/demo">Index</a></li>
         <li{{ active_class('^/demo/schema') }}><a href="/demo/schema">Schema Builder</a></li>
         <li{{ active_class('^/demo/hello') }}><a href="/demo/hello">Basic</a></li>
         <li{{ active_class('^/demo/eloquent') }}><a href="/demo/eloquent">Eloquent</a></li>
         <li{{ active_class('^/demo/dataset') }}><a href="/demo/dataset">DataSet Widget</a></li>
         <li{{ active_class('^/demo/datagrid') }}><a href="/demo/datagrid">DataGrid Widget</a></li>
         <li{{ active_class('^/demo/forms') }}><a href="/demo/forms">Forms</a></li>
        </ul>

      <div>

        <br />

        {% block content %}{% endblock %}



      </div>


      {% block code %}
        {#<hr>
        <pre style="line-height:15px">
              {{ code|raw }}
        </pre>
        <div class="line"></div>#}
      {% endblock code %}


      <hr>

      <div class="footer">
        <p>&copy; Rapyd-Framework 2013</p>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
