<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">    
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }


      .jumbotron {
        margin: 40px 0;
        text-align: left;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
</head>
<body>
        
  <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/demos">Demos</a></li>
          <li><a href="http://rapyd.com">rapyd.com <i class="icon-share-alt"></i></a></li>
        </ul>
        <h3 class="muted">{{ title }}</h3>
      </div>

      
        <ul class="nav nav-tabs">
         <li {% if active == 'index' %}class="active"{% endif %}><a href="/demo">Index</a></li>
         <li {% if active == 'basic' %}class="active"{% endif %}><a href="/demo/hello">Basic</a></li>
         <li {% if active == 'schema' %}class="active"{% endif %}><a href="/demo/schema">Schema Builder</a></li>
         <li {% if active == 'dataset' %}class="active"{% endif %}><a href="/demo/dataset">Dataset Widget</a></li>
        </ul>  


      <div class="jumbotron">

         
        
          
          
        {% if content_markdown %}
        <p class="lead">
        {% markdown %}
        {{ content_markdown }}
        {% endmarkdown %}
        </p>
        
        {% elseif content_raw %}
        
        {{ content_raw|raw }}
        
        {% endif %}
  
        
        
      </div>


        {% if code %}
            <hr>
            <pre style="line-height:15px">
              {{ code|raw }}
            </pre>
            <div class="line"></div>
        {% endif %}

      <hr>

      <div class="footer">
        <p>&copy; Rapyd-Framework 2013</p>
      </div>

    </div>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>    
</body>
</html>

