
{# Set.twig #}

{% extends 'Demo.layout.twig' %}


{% block title %} DataSet {% endblock %}


{% block content %}

    <table class="table table-striped">
        <tr>
             <th>
                 <a href="{{ ds.orderby_link('article_id','asc')|raw }}">
                     <i class="fa fa-angle-up"></i>
                 </a>
                 <a href="{{ ds.orderby_link('article_id','desc')|raw }}">
                     <i class="fa fa-angle-down"></i>
                 </a>
             </th> 
             <th>title</th> 
             <th>body</th> 
        </tr>
        {% for article in ds.data  %}
            <tr>
                <td>{{ article.article_id }}</td> 
                <td>{{ article.title }}</td> 
                <td>{{ article.body }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ ds.links()|raw }}

{% endblock %}



{% block code %}

       <hr>
       {{ source_code('/../../Modules/Demos/Controllers/Dataset.php') }}
       {{ source_code('/../../Modules/Demos/Views/Set.twig') }}

{% endblock %} 

