
{# Set.twig #}

{% extends 'Demo.layout.twig' %}


{% block title %} DataSet {% endblock %}


{% block content %}


    <a href="{{ ds.orderby_link('article_id','asc')|raw }}">
        <i class="fa fa-angle-up"></i>
    </a>
    <a href="{{ ds.orderby_link('article_id','desc')|raw }}">
        <i class="fa fa-angle-down"></i>
    </a> 


    {% for article in ds.data  %}
        
        <div>
            <h5>{{ article.title }}</h5>
            <p>
                {{ article.body }}<br />
                <small><em>by {{ article.author.firstname }}</em></small>
            </p>

            {% for comment in article.comments %}
                     &nbsp;<small>{{ comment.comment|slice(0, 50) }}... </small><br />
            {% endfor %}
      
        </div>
    {% endfor %}
    

    {{ ds.links()|raw }}

        
        
  
        
        
{% endblock %}



{% block code %}

       <hr>
       {{ source_code('/../../Modules/Demos/Controllers/Dataset.php') }}
       {{ source_code('/../../Modules/Demos/Views/Set.twig') }}

{% endblock %} 

