
{# Set.twig #}

<table class="table table-striped">
    <tr>
         <th>
             <a href="{{ ds.orderby_link('article_id','asc')|raw }}">
                 <i class="icon-arrow-up"></i>
             </a>
             <a href="{{ ds.orderby_link('article_id','desc')|raw }}">
                 <i class="icon-arrow-down"></i>
             </a>
         </th> 
         <th>title</th> 
         <th>body</th> 
    </tr>
    {% for article in ds.data  %}
        <tr>
            <td>{{ article.article_id }}</td> 
            <td>{{ article.title }}</td> 
            <td>{{ article.body }}</td>
        </tr>
    {% endfor %}
</table>


<div class="pagination">
{{ ds.links()|raw }}
</div>

