
<table>
    {% for user in ds.data  %}
        <tr>
            <td>{{ user.user_name }}</td> 
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
</table>

     <br />
     <br />
     <div>
     {{ ds.links()|raw }}
     </div>
     
     <br />
     Order by <br />
     <a href="{{ ds.orderby_link('user_name','asc')|raw }}">user_name</a><br />
     <a href="{{ ds.orderby_link('email','asc')|raw }}">email</a><br />