<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>500 ERROR</title>
    <style>
        body {
            margin: 0;
            padding: 20px;
            font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
            font-size: 12px;
            color: #4F5155;
            background-color: #fff;
        }
        a {
            color: #003399;
            background-color: transparent;
            text-decoration: none;
            font-weight: normal;
        }
        a:visited {
            color: #003399;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: #000;
            text-decoration: underline;
            background-color: transparent;
        }
        small {background-color: #ececec; padding: 5px;}
        
       .code {  margin: 0 0 20px 0; font: 11px "courier new",Tahoma,Arial,sans-serif;	background-color: #eFeFeF;	padding: 10px;	border: 1px solid #dddddd; }
    </style>
</head>
<body>
    <h1>A PHP Error was encountered</h1>
    <p >
        Message:  {{ e.message }}<br />
        {% if e.file %}Filename: {{ e.file }}<br />{% endif %}
        Line Number: {{ e.line }}
    </p>


    {% if  true %}

<pre class="code">
Backtrace:

{% for error in trace  %}
    {% if  error.file %}
Line: {{ error.line }} - {{ error.function }} - File: {{ error.file }}
    {% endif %}
{% endfor %}
</pre>
    {% endif %}
    
    <p>
     <a href="/">Visit the Home Page</a>
    </p>
    
</body>
</html>